html {
    background-color: #ffeedd;
}
.flex-parent{
    height: 100%;
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }
  .flex-child {
    position: relative;
    display: grid;
    grid-template-columns:75px 425px;
    grid-template-rows: auto;
    height: 150px;
    width: 500px;
    margin: 30px;
  }
  .flex-child:hover,
  .flex-child:focus {
    box-shadow: 40px -16px rgb(252, 250, 250);
  }

  .flex-title {
    background-color:white;
    display: flex;
    align-content: center;
    align-items: center;
    text-align: center;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
  }
  .flex-body {
    background-color:lightgrey;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    padding: 5px;
  }
  .title-post {
    font-style: italic;
    color:grey;
  }
  .content-post {
    padding: 10px;
  }

  .close-post {
    /* Position it in the top right corner outside of the modal */
    top:0;
    right:0;
    position: absolute;
    padding-right:15px;
    padding-top:15px;
}

.full-post {
  /* Position it in the top right corner outside of the modal */
  bottom:0;
  right:0;
  position: absolute;
  padding-right:15px;
  padding-bottom:15px;
}

.close-post:hover,
.close-post:focus,
.full-post:hover,
.full-post:focus {
  cursor: pointer;
}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  left: 0;
  top: 0;
  z-index: 1; /* Sit on top */
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  padding-top: 60px;
}
/* Modal Content/Box */
.modal-content {
  position: relative;
  background-color: white;
  margin: 10px auto; /* 15% from the top and centered */
  width: 30%; /* Could be more or less, depending on screen size */
}
