html {
    background-color: #ffeedd;
}
.pcenter {
  text-align: center;
}
.flex-parent{
    height: 100%;
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }
  .flex-child {
    position: relative;
    display: grid;
    grid-template-columns:75px 425px;
    grid-template-rows: auto;
    height: 150px;
    width: 500px;
    margin: 30px;
  }
  .flex-child:hover,
  .flex-child:focus {
    box-shadow: 40px -16px rgb(252, 250, 250);
  }

  .flex-title {
    background-color:white;
    display: flex;
    align-content: center;
    align-items: center;
    text-align: center;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
  }
  .flex-body {
    background-color:lightgrey;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    padding: 5px;
  }
  .title-post {
    font-style: italic;
    color:grey;
  }
  .content-post {
    padding: 10px;
  }

  .close-post {
    /* Position it in the top right corner outside of the modal */
    top:0;
    right:0;
    position: absolute;
    padding-right:15px;
    padding-top:15px;
}

.full-post {
  /* Position it in the top right corner outside of the modal */
  bottom:0;
  right:0;
  position: absolute;
  padding-right:15px;
  padding-bottom:15px;
}

.close-post:hover,
.close-post:focus,
.full-post:hover,
.full-post:focus {
  cursor: pointer;
}
/* Modal Content/Box */
.modal-content-confirm {
  position: absolute;
  background-color: white;
  width: 30%; /* Could be more or less, depending on screen size */;
  top:50%;
  left:50%;
}
.btn {
  color: white;
  text-align: center;
  padding: 10px;
  margin: 20px;
  font-size: 12px;
}
.btn-yes {
  background-color: green;
  float: left;
}
.btn-no {
  background-color: red;
  float: right;
}